{{page-title "Cart"}}
<main class="container mt-5">
    <h1>Shopping cart</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <LinkTo @route="index">
                Home
            </LinkTo>
        </li>
        <li class="breadcrumb-item">
            <LinkTo @route="cart">
                Shopping Cart
            </LinkTo>
        </li>
    </ol>
    <section class="w-50 ml-auto text-right mb-5">
        <div class="row">
            <span class="col">Subtotal</span>
            <span class="col">{{curreny this.subtotal sign='$'}}</span>
        </div>
        <div class="row">
            <span class="col">Tax</span>
            <span class="col">{{curreny this.tax}}</span>
        </div>
        <div class="row">
            <span class="col">Total</span>
            <span class="col">{{curreny this.total}}</span>
        </div>
    </section>
    <button type="button" class="btn btn-success float-right">Check out</button>
</main>